//----------------------------------------------
// Code
//----------------------------------------------
code,
kbd,
pre,
samp {
  font-family: "Roboto Mono", monospace;
  font-size: $font-large;
}

pre {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding: 0.75em 0.75em;

  line-height: 1.0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;

  @media (min-width: $mq-med) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  #markdown & {
    margin-bottom: 1.5rem;

    @media (min-width: $mq-med) {
      min-width: 80%;
    }
  }

  code {
    padding: 0;
  }
}

code {
  padding: 0.25em 0.5em;

}

$syntax-hue: 2020;
$syntax-saturation: 13%;
$syntax-brightness: 18%;

.highlight .hll { background-color: $color-darkgrey }
.highlight  { background: $color-darkgrey; color: hsl($syntax-hue, 14%, 71%); border-radius: 5px }
.highlight .c { color: #5c6370 } /* Comment */
.highlight .err { color: hsl(  5, 48%, 51%); background-color: #1e0010 } /* Error */
.highlight .k { color: hsl(286, 60%, 67%) } /* Keyword */
.highlight .l { color: hsl( 29, 54%, 61%) } /* Literal */
.highlight .n { color: hsl($syntax-hue, 14%, 71%) } /* Name */
.highlight .o { color: #hsl( 95, 38%, 62%) } /* Operator */
.highlight .p { color: hsl($syntax-hue, 14%, 71%) } /* Punctuation */
.highlight .ch { color: #5c6370 } /* Comment.Hashbang */
.highlight .cm { color: #5c6370 } /* Comment.Multiline */
.highlight .cp { color: #5c6370 } /* Comment.Preproc */
.highlight .cpf { color: #5c6370 } /* Comment.PreprocFile */
.highlight .c1 { color: #5c6370 } /* Comment.Single */
.highlight .cs { color: #5c6370 } /* Comment.Special */
.highlight .gd { color: #hsl( 95, 38%, 62%) } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: hsl( 39, 67%, 69%) } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #5c6370 } /* Generic.Subheading */
.highlight .kc { color: hsl(286, 60%, 67%) } /* Keyword.Constant */
.highlight .kd { color: hsl(286, 60%, 67%) } /* Keyword.Declaration */
.highlight .kn { color: #hsl( 95, 38%, 62%) } /* Keyword.Namespace */
.highlight .kp { color: hsl(286, 60%, 67%) } /* Keyword.Pseudo */
.highlight .kr { color: hsl(286, 60%, 67%) } /* Keyword.Reserved */
.highlight .kt { color: hsl(286, 60%, 67%) } /* Keyword.Type */
.highlight .ld { color: hsl( 95, 38%, 62%) } /* Literal.Date */
.highlight .m { color: hsl( 29, 54%, 61%) } /* Literal.Number */
.highlight .s { color: hsl( 95, 38%, 62%) } /* Literal.String */
.highlight .na { color: hsl( 39, 67%, 69%) } /* Name.Attribute */
.highlight .nb { color: hsl($syntax-hue, 14%, 71%) } /* Name.Builtin */
.highlight .nc { color: hsl( 39, 67%, 69%) } /* Name.Class */
.highlight .no { color: hsl(286, 60%, 67%) } /* Name.Constant */
.highlight .nd { color: hsl( 39, 67%, 69%) } /* Name.Decorator */
.highlight .ni { color: hsl($syntax-hue, 14%, 71%) } /* Name.Entity */
.highlight .ne { color: hsl( 39, 67%, 69%) } /* Name.Exception */
.highlight .nf { color: hsl( 39, 67%, 69%) } /* Name.Function */
.highlight .nl { color: hsl($syntax-hue, 14%, 71%) } /* Name.Label */
.highlight .nn { color: hsl($syntax-hue, 14%, 71%) } /* Name.Namespace */
.highlight .nx { color: hsl( 39, 67%, 69%) } /* Name.Other */
.highlight .py { color: hsl($syntax-hue, 14%, 71%) } /* Name.Property */
.highlight .nt { color: #hsl( 95, 38%, 62%) } /* Name.Tag */
.highlight .nv { color: hsl($syntax-hue, 14%, 71%) } /* Name.Variable */
.highlight .ow { color: #hsl( 95, 38%, 62%) } /* Operator.Word */
.highlight .w { color: hsl($syntax-hue, 14%, 71%) } /* Text.Whitespace */
.highlight .mb { color: hsl( 29, 54%, 61%) } /* Literal.Number.Bin */
.highlight .mf { color: hsl( 29, 54%, 61%) } /* Literal.Number.Float */
.highlight .mh { color: hsl( 29, 54%, 61%) } /* Literal.Number.Hex */
.highlight .mi { color: hsl( 29, 54%, 61%) } /* Literal.Number.Integer */
.highlight .mo { color: hsl( 29, 54%, 61%) } /* Literal.Number.Oct */
.highlight .sa { color: hsl( 95, 38%, 62%) } /* Literal.String.Affix */
.highlight .sb { color: hsl( 95, 38%, 62%) } /* Literal.String.Backtick */
.highlight .sc { color: hsl( 95, 38%, 62%) } /* Literal.String.Char */
.highlight .dl { color: hsl( 95, 38%, 62%) } /* Literal.String.Delimiter */
.highlight .sd { color: hsl( 95, 38%, 62%) } /* Literal.String.Doc */
.highlight .s2 { color: hsl( 95, 38%, 62%) } /* Literal.String.Double */
.highlight .se { color: hsl( 29, 54%, 61%) } /* Literal.String.Escape */
.highlight .sh { color: hsl( 95, 38%, 62%) } /* Literal.String.Heredoc */
.highlight .si { color: hsl( 95, 38%, 62%) } /* Literal.String.Interpol */
.highlight .sx { color: hsl( 95, 38%, 62%) } /* Literal.String.Other */
.highlight .sr { color: hsl( 95, 38%, 62%) } /* Literal.String.Regex */
.highlight .s1 { color: hsl( 95, 38%, 62%) } /* Literal.String.Single */
.highlight .ss { color: hsl( 95, 38%, 62%) } /* Literal.String.Symbol */
.highlight .bp { color: hsl($syntax-hue, 14%, 71%) } /* Name.Builtin.Pseudo */
.highlight .fm { color: hsl( 39, 67%, 69%) } /* Name.Function.Magic */
.highlight .vc { color: hsl($syntax-hue, 14%, 71%) } /* Name.Variable.Class */
.highlight .vg { color: hsl($syntax-hue, 14%, 71%) } /* Name.Variable.Global */
.highlight .vi { color: hsl($syntax-hue, 14%, 71%) } /* Name.Variable.Instance */
.highlight .vm { color: hsl($syntax-hue, 14%, 71%) } /* Name.Variable.Magic */
.highlight .il { color: hsl( 29, 54%, 61%) } /* Literal.Number.Integer.Long */
