//----------------------------------------------
//  Lists
//----------------------------------------------
%no-list-style {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

//----------------------------------------------
//  Post Lists
//----------------------------------------------
.post, .hire {
  ol,
  ul:not(.post__social) {
    margin: {
      bottom: 1.5rem;
      left: 3em;
    }

    font-size: $font-norm;

    @media (min-width: $mq-small) {
      font-size: $font-large;
    }

    & > li {
      position: relative;

      &:before {
        position: absolute;
        left: -1em;
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      p {
        margin-bottom: 0;

        font-size: inherit;
      }
    }
  }

  ol {
    // @extend %no-list-style;

    counter-reset: li;

    & > li:before {
      content: counter(li) ".";

      counter-increment: li;
    }
  }
}
