//----------------------------------------------
// Media
//----------------------------------------------
img,
svg,
figure,
picture,
object,
embed,
iframe,
video {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

iframe {
  border: none;
}

//----------------------------------------------
// Absolute Background
//----------------------------------------------
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-0;

  height: 100%;
  width: 100%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.related-bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: $z-0;

  height: 100%;
  width: 100%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
//----------------------------------------------
// Flex Vid
//----------------------------------------------
.flex-vid {
  position: relative;

  overflow: hidden;

  &:before {
    content: "";

    display: block;
    padding-bottom: 56.5%; // Widescreen
  }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }
}
