---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% if post.publish == true %}
          {% include post-card.html %}
        {% endif %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
