<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding--half">
  <div class="grid">
<!--    <div class="footer__tags">-->
<!--      {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 5 %}-->
<!--    </div>-->
<!--    <hr class="sep&#45;&#45;white"/>-->
    <div class="footer__container">
      {% include social.html %}

      <div class="footer__text">
      <p>layout modified from&nbsp;<a href="https://github.com/samesies/barber-jekyll">Barber</a>.<br>
      hosted by <a href="https://gitlab.com">Gitlab</a>.</p>
      </div>
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
