<header class="header">
  <a class="header__title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
<!--  <a class="header__title" href="{{ '/' | absolute_url }}">DL</a>-->


  {% include navigation.html %}
</header>
