<nav>
  <div class="grid-xlarge">
  <ul class="header__list">
   <!-- <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li> -->
    <!-- <li><a href="{{ '/hire' | prepend: site.baseurl }}">Hire</a></li> -->
   <!-- <li><a href="{{ '/music' | prepend: site.baseurl }}">Music</a></li> -->
    <li><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
    <li><a href="{{ '/tutorials' | prepend: site.baseurl }}">Tutorials</a></li>
    <li><span class="popup__open"><a>Contact</a></span></li>
    {% for social in site.social %}
      <li class="nav_hide"><a href="{{ social['url'] }}" target="_blank"><i class="fa fa-{{ social['name'] }}"></i></a></li>
    {% endfor %}
  </ul>
  </div>
</nav>
