//----------------------------------------------
// Font Header
//----------------------------------------------
%font-header {
  @extend %letter-spacing;

  font-weight: 700;
}

//----------------------------------------------
// Font Size
//----------------------------------------------
%font-size {
  font-size: $font-norm;

  @media (min-width: $mq-small) {
    font-size: $font-xlarge;
  }
}

//----------------------------------------------
// Letter Spacing
//----------------------------------------------
%letter-spacing {
  letter-spacing: 0.01em;
}

//----------------------------------------------
// Text Center
//----------------------------------------------
%text-center {
  text-align: center;
}
