//----------------------------------------------
// Header
//----------------------------------------------
.header {
  @extend %letter-spacing;
  @extend %box-shadow;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  background-color: $color-black;
  border-bottom: $border;
  .nav_hide {
    display: none;
  }
  @media (min-width: $mq-med) {
    .nav_hide {
      display: initial;
      color: white;
    }
  }
  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }
  &__title {
    @extend %font-header;

    font-size: $font-large;
    color: $color-white;
  }

  &__list {
    @extend %no-list-style;

    display: flex;
    align-items: center;

    @media (min-width: $mq-large) {
      margin-right: 2em;
    }
    @media (max-width: $mq-large) {
      margin-right: 0;
    }


    & > * {
      @extend .header__title;

        margin-left: 1em;

        @media (min-width: $mq-small) {
          margin-left: 2em;
        }


      a {
        color: $color-white;
      }
      a:hover {
        color: $color-green;
      }
    }
  }
}
