//----------------------------------------------
// Form
//----------------------------------------------
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  input,
  textarea {
    margin-bottom: 1.5em;

    font-size: 1em;
    border: 0;
    border-bottom: 2px solid rgba($color-white, 0.6);
    transition: border-color 200ms ease-in-out;

    &:hover,
    &:focus {
      border-color: $color-lightgrey;
    }
  }

  &__subcontainer {
    display: flex;
    justify-content: space-between;

    & > * {
      flex-basis: 47.5%;
      max-width: 47.5%;
    }
  }

  &__submit {
    @extend %text-center;
  }

  &__btn {
    @include btn-split($color-lightgrey, $color-lightgrey, 2px);

    display: inline-block;

    .footer & {
      @include btn-split($color-white, $color-white, 2px);
    }

    input {
      padding: {
        right: 1em;
        left: 1em;
      }
      margin-bottom: 0;

      font-size: 1em;
      border: 0;
    }
  }

  &__message {
    @extend %font-header;

    margin: {
      top: 1em;
      bottom: 0;
    }
    padding: 0.5em 1em;

    background: $color-lightgrey;
    border-left: 2px solid $color-lightgrey;
    opacity: 0;
  }
}
