//----------------------------------------------
// Post
//----------------------------------------------
.hire {

  // .amp-template & {
  //   background-color: $color-darkgrey;
  // }

  &__header {
    @extend %text-center;

    border-bottom: $border;
  }

  &__date {
    @extend %font-header;

    display: block;
    margin-top: 0.25em;

    font-size: $font-small;
  }

  &__img {
    height: 18em;
    padding: 1em;

    @media (min-width: $mq-small) {
      height: 18em;
      //padding: 2em;
    }

    @media (min-width: $mq-med) {
      height: calc(100vh - 75em);
      min-height: 25em;
    }

    & > * {
      position: relative;

      height: 100%;
      width: 100%;

      background-color: $color-white;
    }
  }

  // &__amp-img {
  //   padding: 1em;
  // }

  &__content {
    border-top: $border;
  }

  &__social {
    @extend %flex-center;
    @extend %no-list-style;

    margin: {
      top: 2em;
      bottom: 0;
      left: 0;
    }

    @media (min-width: $mq-med) {
      margin-top: 3em;
    }

    @media (min-width: $mq-xlarge) {
      margin-top: 4em;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 0.75em;
      }
    }

    a {
      font-size: 1.1em;
      color: $color-darkgrey;
    }
  }

  &__author {
    @extend %font-header;
    @extend %font-size;

    display: block;

    a {
      color: $color-green;
      transition: color 200ms ease-in-out;

      &:hover,
      &:active,
      &:focus {
        color: darken($color-black, 5);
      }
    }
  }

  &__bio {
    @extend %font-size;

    margin-bottom: 0;
  }

  &__comments {
    border-top: $border;
  }


  //----------------------------------------------
  // Jekyll
  //----------------------------------------------
  #markdown {
    display: flex;
    flex-direction: column;
    align-items: center;

    .post-layout &,
    #style-guide & {
      font-family: $font-post;
    }

    & > * {
      min-width: 100%;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.25rem;

      font-family: $font;
    }

    h1 {
      font-size: 2.25em;
      line-height: 1.2;
      margin-top: 2.0rem;
    }

    h2 {
      font-size: 2em;
      line-height: 1.5;
      margin-top: 2rem;
      color: $color-cyan;
    }

    h3 {
      font-size: 1.25em;
      line-height: 1;
      color: $color-blue;
    }

    h4 {
      font-size: 0.9em;
      line-height: 1;
      font-weight: normal;
      font-style: italic;
      color: $color-grey;

    }

    h5 {
      font-size: 0.75em;
      line-height: 1;
      font-weight: normal;
    }

    h6 {
      font-size: 1.0em;
    }

    h6 + hr {

      #style-guide & {
        margin-top: 1rem;
      }
    }

    p {
      margin-bottom: 1.5rem;
      font-size: $font-large;

      @media (min-width: $mq-small) {
        font-size: $font-xlarge;
      }

      img {
        margin-bottom: 0;
      }
    }

    blockquote {
      p {
        margin-bottom: 0;
        font-size: $font-xxsmall;
        text-align: left;
      }
    }

    a {
      color: $color-green;
      //border-bottom: 2px solid $color-green;
      //box-shadow: inset 0 -3px 0 $color-lightgrey;
    }

    hr {
      height: 1px;
      width: 20%;
      margin: {
        top: 0;
        bottom: 1.5rem;
      }

      border: 0;
      background-color: rgba($color-black, 0.1);
    }

    br {
      display: none;
    }

    img {
      display: block;
      margin-bottom: 1.5rem;
    }

    img[src$="#full"] {
      width: 100vw;
      max-width: none;
    }

    .flex-vid {
      margin-bottom: 1.5rem;

      iframe {
        display: block;
      }
    }
  }
}
