//----------------------------------------------
// Mast
//----------------------------------------------
.mast {
  @extend %text-center;

  &__text {
    margin: {
      top: 0.5em;
      bottom: 0;
    }

    font-size: $font-norm;
  }
}
