//----------------------------------------------
// Popup
//---------------------------------------------- 
.popup {

  &__open {
    cursor: pointer;
  }

  &__close {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    
    height: 2.25rem;
    width: 2rem;

    border: none;
    cursor: pointer;

    @media (min-width: $mq-small) {
      top: 1.5em;
      right: 1.5em;
    }
  }

  &__exit {
    position: absolute;
    top: 1em;
    z-index: 1;

    display: block;
   
    cursor: pointer;

    &:after, 
    &:before {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      
      display: block;
      height: 1px;
      width: 1.855555rem;

      background-color: $color-darkgrey;
      zoom: 1;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}
