//----------------------------------------------
// Mast
//----------------------------------------------
.portfolio {
  background-color: $color-lightgrey;

  &__title {
    @extend %text-center;
  }

  &__container {
    @include flex-grid(1, 2, 3, $pad: 1em);

    align-items: flex-end;
    justify-content: center;
    margin-top: 2em;
  }

  &__post {
    height: 18em;
    @media (max-width: $mq-small) {
      padding: {
        top: 2em;
        bottom: 2em;
      }

    }

    @media (min-width: $mq-med) {
      padding-bottom: 4em;
    }

    &:last-child {
      padding-bottom: 0;

      @media (min-width: $mq-small) and (max-width: $mq-med) {
        display: none;
      }
    }
  }

  &__link {
    @extend .posts__link;
    color: black!important;

    &:hover {
      .related__img {
        transform: translate3d(0, -10px, 0);
      }
    }
  }

  &__img {
    @extend .posts__img;
    height: 16em;
    position: relative;
  }

  &__text {
    @extend %font-header;
    @extend %font-size;
    @extend %text-center;
  }
}
