//----------------------------------------------
// Mast
//----------------------------------------------
.related {
  background-color: $color-black;

  &__title {
    // @extend %text-center;
  }

  &__container {
    @include flex-grid(1, 2, 3, $pad: 1em);

    align-items: flex-end;
    justify-content: center;
    margin-top: 2em;
  }
  &__resume_container {
    @include flex-grid(1, 2, 3, $pad: 1em);

    align-items: flex-end;
    justify-content: center;
    // margin-top: 2em;
    margin-bottom: 1em;
  }

  &__post {
    height: 18em;
    @media (max-width: $mq-small) {
      padding: {
        top: 2em;
        bottom: 2em;
      }

    }

    @media (min-width: $mq-med) {
      padding-bottom: 4em;
    }

    &:last-child {
      padding-bottom: 0;

      @media (min-width: $mq-small) and (max-width: $mq-med) {
        display: none;
      }
    }
  }
  &__resume_post {
    height: 22em;
    @media (max-width: $mq-small) {
      height: 19em;
      padding: {
        // top: 2em;
        // bottom: 4em;
      }
    }

    @media (min-width: $mq-med) {
      padding-bottom: 10px;
      bottom: 4em;
    }

    &:last-child {
      padding-bottom: 10px;

      @media (min-width: $mq-small) and (max-width: $mq-med) {
        display: none;
      }
    }
  }

  &__link {
    @extend .posts__link;
    color: $color-white!important;

    &:hover {
      .related__img {
        transform: translate3d(0, -10px, 0);
      }
    }
  }

  &__img {
    @extend .posts__img;
    background-color: $color-lightgrey;
    padding: 0.25em;
    height: 12em;
    position: relative;

    .absolute-bg {
      position: relative;
      top: 0;
      left: 0;
      z-index: $z-0;

      height: 100%;
      width: 100%;

      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
  }

  &__text {
    // @extend %font-header;
    // @extend %font-size;
    // @extend %text-center;
  }
  &__resume_text {
    // @extend %font-header;
    //@extend %font-size;
    // @extend %text-center;
    font-weight: normal;
    padding-bottom: 10px;
  }
}
