---
layout: default
---

{% capture education-music %}{% include hire/education-music.md %}{% endcapture %}
{% capture education-tech %}{% include hire/education-tech.md %}{% endcapture %}

{% capture skills %}{% include hire/skills.md %}{% endcapture %}
{% capture projects %}{% include hire/projects.md %}{% endcapture %}
{% capture volunteer %}{% include hire/volunteer.md %}{% endcapture %}

{% capture exp-full %}{% include hire/exp-full.md %}{% endcapture %}
{% capture exp-music %}{% include hire/exp-music.md %}{% endcapture %}
{% capture exp-tech %}{% include hire/exp-tech.md %}{% endcapture %}

{% assign resume = page.experience %}

<div class="hire">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.title %}
    <div class="post__header section-padding">
      <div class="grid-small">
        <h1 itemprop="name headline">{{ page.title }}</h1>
        {% if page.subtitle %}
          <h3 itemprop="name subheadline">{{ page.subtitle }}</h3>
        {% endif %}

        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>
    {% endif %}

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" itemprop="articleBody">
          <img src="/assets/images/headshot.png" style="background-color: rgba(0, 0, 0, 0)!important; min-width: 1em; width: 12em; margin-left: auto; margin-right: auto; margin-bottom: 1em;"/>
          {{content}}

          {% if resume == "tech" %}
            {{ exp-tech | markdownify}}
          {% elsif resume == "music" %}
            {{ exp-music | markdownify }}
          {%elsif resume == "edu" %}
          {% else %}
            {{ exp-full | markdownify }}
          {% endif %}

          {% if resume != "edu" %}
           {{ skills | markdownify }}
            <h2 id="education">
              <strong>Education</strong>
            </h2>
            {% if resume == "tech" %}
              {{ education-tech | markdownify}}
            {% elsif resume == "music" %}
              {{ education-music | markdownify }}
            {% else %}
              {{ education-tech | markdownify}}
              {{ education-music | markdownify }}
            {% endif %}
            {{ projects | markdownify }}
            {{ volunteer | markdownify }}
            {% else %}
              <h2 id="education">
                <strong>Education</strong>
              </h2>
              {{ education-tech | markdownify }}
              {{ skills | markdownify }}
              {{ projects | markdownify }}
              {{ exp-tech | markdownify }}
          {% endif %}
        </div>
      </div>
    </div>
  </article>
</div>
